@import "./variables.scss";

@mixin setStyles($height, $width, $backgroundColor, $color) {
  height: $height;
  width: $width;
  background-color: $backgroundColor;
  color: $color;
}
.home-container {
  height: 100vh;
  background-color: $container-color;
}

.paragraph1 {
  background-color: $primary;
  color: white;
}

.form-input {
  background-color: $primary;
}

.mixin-demo {
  @include setStyles(100px, 100px, pink, black);
}
.second-mixin {
  @include setStyles(400px, 200px, violet, white);
}
