.personal-details {
  font-size: 15px;
}
#id-demo {
  background-color: red;
  color: #ffffff;
  text-align: center;
  border: 10px solid black;
  border: 2px dotted black;
  border: 2px dashed black;
  border-radius: 10px;
  /* border-style: solid;
  border-width: 2px;
  border-color: black; */
}

.class-demo {
  background-color: bisque;
}
.click-btn {
  background-color: blueviolet;
  /* top right bottom left */

  padding: 10px 30px 100px 10px;
  padding: 100px 20px;
  padding: 20px;
}
.class-demo:hover {
  background-color: red;
}

span {
  background-color: greenyellow;
  font-size: 20px;
}

.circle {
  width: 200px;
  height: 200px;
  background-color: aquamarine;
  border-radius: 50%;
}
* {
  /* font-size: 40px; */
}
.relative-demo {
  position: relative;
  top: 200px;
  left: 100px;
}
.absolute-demo {
  position: absolute;
  background-color: red;
  color: white;
  bottom: 100px;
  right: 0;
}
.header {
  height: 80px;
  background-color: blue;
  color: white;
  text-align: center;
  font-size: 20px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  margin-bottom: 80px;
}

.header-sticky {
  height: 80px;
  background-color: blue;
  color: white;
  text-align: center;
  font-size: 20px;
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  margin-bottom: 80px;
}
.overflow-demo {
  background-color: chartreuse;
  height: 150px;
  border: 10px solid black;
  overflow: hidden;
  overflow: scroll;
  overflow: auto;
}
